// Globals
$textColor: #222;
$accentColor: #D3473C;
$codeColor: #00A38A;

$serif: "ff-tisa-web-pro", "Helvetica Neue", sans-serif;
$sans: "proxima-nova", "Helvetica Neue", sans-serif;

.deck-container {
	background: #FFF;
	font-family: "ff-tisa-web-pro", "Helvetica Neue", sans-serif;
	font-size: 1.7em;
	line-height: 1.5;
	color: $textColor;
}

.slide {
	p, ul {
		max-width: 30em;
	}
	ul {
		margin-left: 0;
	}
	li {
		font-size: 1.3em;
		list-style: none;
		padding: 0;
	}

	h1, h2, h3, h4 {
		text-shadow: 0 1px 0 #FFF;
	}

	h1 { // Centered header
		font-family: $sans;
		font-size: 3em;
		line-height: 1;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		small {
			font-size: 0.65em;
			position: relative;
			top: -0.34em;
			color: #777;
			font-family: $serif;
			font-style: italic;
			font-weight: 400;
			text-transform: none;
			letter-spacing: 0;
			border-bottom: 1px solid #CCC;
		}
	}

	h2 { // Top header
		//margin-top: 40px;
		font-family: $sans;
		font-size: 1.8em;
		letter-spacing: 0.1em;
		color: $textColor;
		border-bottom: none;
		text-transform: uppercase;
	}

	h3 { // Smaller secondary header
		font-weight: 400;
		line-height: 1.3;
		margin-bottom: 1em;
	}

	pre {
		background: #FFF;
		border-radius: 2px;
		border-color: #CCC;
		box-shadow: 0 3px 10px -5px #CCC;
	}

	code {
		color: #444;
	}

	blockquote {
		font-size: 2em;
		font-style: italic;
		padding: 1em 2em;
		color: #000;
		border-left: none;

		p {
			margin: 0;
		}

		cite {
			font-size:.5em;
			font-style:normal;
			font-weight:bold;
			color:#888;
		}
	}

	::-moz-selection{ background:#c00; color:#fff; }
	::selection { background:#c00; color:#fff; }

	a {
		&, &:hover, &:focus, &:active, &:visited {
			color:#c00;
			text-decoration:none;
		}

		&:hover, &:focus {
			text-decoration:underline;
		}
	}
}

// States
.slide {
	.deck-before,
	.deck-previous {
		opacity: 0.4;
		
		&:not(.deck-child-current) {
			.deck-before,
			.deck-previous {
				opacity: 1;
			}
		}
	}
	.deck-child-current {
		opacity: 1;
	}
} 

.deck-prev-link,
.deck-next-link {
	background: #ccc;
	font-family: serif; // sans-serif arrows x-browser fail
	
	&, &:hover, &:focus, &:active, &:visited {
		color:#fff;
	}
	
	&:hover, &:focus {
		background:#c00;
		text-decoration:none;
	}
}

.deck-status {
	font-size:0.6666em;
}

.deck-menu {
	.slide {
		background:#eee;
	}
	.deck-current, .no-touch & .slide:hover {
		background:#ddf;
	}
}

.grid {
	$_rectoWidth: 33%;
	.left-col {
		float: left;
		width: $_rectoWidth;
	}
	.right-col {
		margin-left: $_rectoWidth;
		padding-left: 80px;
	}
}


// CUSTOM ---------
.moz-title {
	background: #000 url( ../../introduction/img/mozpeople.jpg ) no-repeat;
	background-size: cover;
	h1 {
		color: #FFF;
		text-shadow: 0 1px 10px #000,
			0 1px 20px #000;
		small {
			color: #EEE;
		}
	}
}

.slide-black {
	background: #000;
	color: #FFF;
	h1, h2, h3, h4 {
		color: #FFF;
	}
	a {
		color: #EEE;
	}
}

.questions-only {
	h1 {
		font-size: 2.3em;
	}
	h2 {
		margin-top: 0;
		font-family: $serif;
		text-transform: none;
		letter-spacing: 0;
		font-weight: 400;
		margin: 0;
	}
	p {
		max-width: none;
		text-align: center;
		margin: 0 auto;
		font-weight: 400;
		font-size: 1.3em;
	}
}


.slide img.align-left {
	margin: 20px 0;
	display: inline-block;
}
